.App {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  min-height: 100%;
}
.btn{
  display:inline-block;
  padding: 0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  outline: none;
  color: #fdfdff;
  background-color: #1b154b;
  border: 0;
  text-align:center;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover{
  background-color:#4c467d;
}
.btn-spacing{
  margin: 7px 0 7px 0;
}
#word-search-header{
  font-size: 2.5em;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: 15px;
  color: #1b154b;
  cursor: pointer;
  transition: all 500ms ease;
}
#word-search-header:hover{
  opacity: 40%;
  letter-spacing: 0.2em;
}