.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}
.btn{
  display:inline-block;
  padding: 0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color: #2c2b2b;
  background-color: #efefff;
  border: 0;
  text-align:center;
  transition: all 0.2s;
}
.btn:hover{
  background-color:#c1b5e1;
}
#word-search-header{
  font-size: 2.5em;
  margin: 10px;
  color: white;
}
#website-link{
 margin-bottom: 20px;
}
#website-link a{
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  transition: all 200ms ease;
}
#website-link a:hover{
  /* color: red; */
  opacity: 40%;
}
.found{
  text-decoration: line-through;
}