#contact-container{
  position: fixed;
  height: 40px;
  bottom: 0;
  width: 100%;
  background-color: #1b154b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#github-logo{
  width:25px;height: 25px;
  margin-left: 20px;
  transition: all 200ms ease;
}
#github-logo:hover{
  opacity: 40%;
}
#website-link a{
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  transition: all 200ms ease;
}
#website-link a:hover{
  opacity: 40%;
}