#setup-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdfdff;
  box-shadow: 0px 0px 10px rgba(58,58,58,1);
  border-radius: 25px;
}

#setup-header{
  font-size:1.5em;
  font-weight: 500;
  margin: 15px;
  color: #1b154b;
}
#setup-desc{
  font-size:1em;
  margin-bottom: 15px;
  color: #1b154b;
}
#setup-radio-input{
  display: flex;
  justify-content: center;
  align-items: center;
}
#setup-radio-input div {
  font-size: 1.3em;
  font-weight: 600;
}
#setup-radio-input input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
#setup-radio-input label {
  margin: 10px;
  color: #1b154b;
  /* border: 2px black solid; */
  background-color: #aaa5b7;
  border-radius: 25%;
  padding: 4px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.2s ease;
}
#setup-radio-input label:hover {
  color: #fdfdff;
  background-color:#4c467d;
}
#setup-radio-input input:checked + label{
  color: #fdfdff;
  background-color: #1b154b;
}
#setup-textbox-container{
  /* border: 1px black solid; */
  padding: 2px;
  width: 700px;
}
.setup-textboxes{
  margin: 20px 10px 0 10px;
  padding: 0 10px 0 10px;
  height: 30px;
  width: 140px;
  text-align: center;
  outline: none;   
  border: 1px solid #cdcdcd;
  border-color: rgba(0,0,0,.15);
  border-radius: 5px;
  background-color: #eff3f8;
  font-size: 16px;
}