@import './css/App.css';
@import './css/SetupGame.css';
@import './css/Game.css';

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
html{
  height: 100%;
}
body {
  margin: 0;
  /* height: 100vw; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Montserrat', sans-serif;

  /* background-color: #6f4f97; */
  background: linear-gradient(322deg, #6f4f97, #d2c5e3);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 19s ease infinite;
    -moz-animation: AnimationName 19s ease infinite;
    animation: AnimationName 19s ease infinite;
}
@-webkit-keyframes AnimationName {
  0%{background-position:15% 0%}
  50%{background-position:86% 100%}
  100%{background-position:15% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:15% 0%}
  50%{background-position:86% 100%}
  100%{background-position:15% 0%}
}
@keyframes AnimationName {
  0%{background-position:15% 0%}
  50%{background-position:86% 100%}
  100%{background-position:15% 0%}
}
